@import 'tailwindcss';

/* 🌞 Thème scientifique clair */
:root {
    /* LIGHT MODE */
    --color-dark-brown: #1c1c1c;
    --color-dark-gray: #242424;
    --color-light-brown: #e2dacf;
    --color-gray: #a3a3a3;
    --color-white: #ffffff;

    --color-accent-green: #2e4b3b;
    --color-accent-purple: #a54ebf;
    --color-accent-orange: #f26d28;

    --color-success: #30a840;
    --color-warning: #d9a441;
    --color-error: #cf3030;

    /* --font-title: "Montserrat Alternates", sans-serif;
    --font-body: "Nunito Sans", sans-serif;
    --font-mono: "JetBrains Mono", monospace; */

    --font-title: 'Montserrat', sans-serif;
    --font-body: 'opensans', sans-serif;
    --font-mono: 'IBMPlexMono', monospace;
}

/* BACKGROUND */

.bg-dark-brown {
    background-color: var(--color-dark-brown);
}

.bg-dark-gray {
    background-color: var(--color-dark-gray);
}

.bg-white {
    background-color: var(--color-white);
}

.bg-accent-green {
    background-color: var(--color-accent-green);
}

.bg-accent-orange {
    background-color: var(--color-accent-orange);
}

.bg-accent-purple {
    background-color: var(--color-accent-purple);
}

/* COLOR TEXT */

.text-dark-brown {
    color: var(--color-dark-brown);
}

.text-dark-gray {
    color: var(--color-tdark-gray);
}

.text-light-brown {
    color: var(--color-light-brown);
}

.text-accent-green {
    color: var(--color-accent-green);
}

.text-accent-purple {
    color: var(--color-accent-purple);
}

.text-accent-orange {
    color: var(--color-accent-orange);
}

.text-success {
    color: var(--color-success);
}

.text-warning {
    color: var(--color-warning);
}

.text-danger {
    color: var(--color-error);
}

/* TYPOGRAPHIE */

.font-title {
    font-family: var(--font-title);
}

.font-body {
    font-family: var(--font-body);
}

.font-mono {
    font-family: var(--font-mono);
}
